@model BusinessObject.Models.OrderDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Book.BookImage)" width="110px" height="150px" />"
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Order">Back to List</a>
</div>
